<html>
	<head>
		<title>An DAO example</title>
		 <link rel="stylesheet" type="text/css" href="../res/style.css" />
	</head>
	<body>
		<form name="form1" method="post" action="../logic/WorkerController.php" >
			<label>Name:</label>
			<input name="name" type="text" />
			<label>Age:</label>
			<input name="age" type="text" />
			<label>Profession:</label>
			<input name="profession" type="text" />
			<label>Years Of Profession:</label>
			<input name="years_profession" type="text" />
			<label>Email:</label>
			<input name="email" type="text" />
			<input type="submit" name="confirm" value="Confirm" />
		</form>
	</body>
</html>     